body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border-style: dotted dashed solid double;
    border-color: red;
    border-width: 4px;
    box-shadow: -10px 7px 30px green;
    border-radius: 20px;
    margin-top: 110px;
}
